A Firefox extension that allows you to <strong>securely</strong> open bookmarks in multi-account containers.

See screenshots for usage instructions
* Assigning containers to the contents of entire folders is also supported.

Security Tokens
When a bookmark is assigned to a container, it’s assigned a random token.
It’s prepended to the existing URL, as well as the prefix <code>about</code>.
E.G. <code>https://example.com</code> -&gt; <code>about:r4nD0Mt_k3n:https://example.com</code>

Token retention Policy
Tokens are refreshed upon these conditions
<ul>
<li>When the browser restarts</li>
<li>When the bookmark’s used</li>
<li>When a security breach is attempted
<ul>
<li>If a valid token is used, but the URLs don’t align… The user is alerted. In addition to URL refreshment.</li>
</ul></li>
</ul>

Unused or invalid tokens are deleted upon these conditions
<ul>
<li>When the browser restarts</li>
<li>After the token in question has been refreshed</li>
<li>After bookmark deletion</li>
<li>After a bookmark is unassigned</li>
</ul>

Privacy Policy/T.O.S
<ol type="1">
<li>We do not collect ANY information from you, everything is stored locally.
</li>
<li>There are no terms of service, use as you please. Do respect the MIT License, however.</li>
</ol>

Made with components from
<ul>
<li><a href="https://addons.mozilla.org/en-US/firefox/addon/container_bookmarks/"><em>Container Bookmarks</em> on the Mozilla-Addons-Store</a></li>
<li><a href="https://addons.mozilla.org/firefox/addon/open-url-in-container/"><em>Open URL In Container</em> on the Mozilla-Addons-Store</a></li>
</ul>

License
All code is licensed under the MIT License.
Because innovation is desirable.

Contributing
Do it. If it’s needed, contribute. I’ll accept any Pull/Merge request, so long as it’s reasonable, and decently tested.
See our homepage for source code and contribution.
